<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header pb-0">
        <h5>Add agent details</h5>
      </div>
      <div class="card-body admin-form">
        <form class="gx-3">
          <app-user-personal-details></app-user-personal-details>
          <app-user-login-details></app-user-login-details>
        </form>
        <div class="dropzone-admin mb-0">
          <label>Media</label>
          <app-user-media></app-user-media>
        </div>
        <div class="form-btn">
          <button type="button" class="btn btn-pill btn-gradient color-4">Submit</button>
          <button type="button" class="btn btn-pill btn-dashed color-4">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
