<div class="card">
  <div class="card-body">
    <div class="title-about">
      <h5>About</h5>
    </div>
    <div class="table-responsive">
      <table class="table table-bordernone mb-0">
        <tbody>
          <tr>
            <td class="pt-0">Email:</td>
            <td class="light-font pt-0">brockle&#64;gmail.com</td>
          </tr>
          <tr>
            <td>Mobile Number:</td>
            <td class="light-font">+ 61 1545812570</td>
          </tr>
          <tr>
            <td>Gender:</td>
            <td class="light-font">Male</td>
          </tr>
          <tr>
            <td class="pb-0">DOB:</td>
            <td class="light-font pb-0">Dec, 10 1990</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
