<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header pb-0">
        <h5>Vector world map</h5>
      </div>
      <div class="card-body">
        <div class="jvector-map-height" id="world-map">
          <google-map width="100%" height="500px" [options]="worldMapOption"></google-map>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header pb-0">
        <h5>Vector USA map</h5>
      </div>
      <div class="card-body">
        <div class="jvector-map-height" id="usa">
          <google-map width="100%" height="500px"[options]="usaMapOptions"></google-map>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header pb-0">
        <h5>Vector Asia map</h5>
      </div>
      <div class="card-body">
        <div class="jvector-map-height" id="asia">
          <google-map width="100%" height="500px" [options]="asiaMapOptions"></google-map>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header pb-0">
        <h5>Vector India map</h5>
      </div>
      <div class="card-body">
        <div class="jvector-map-height" id="india">
          <google-map width="100%" height="500px" [options]="indiaMapOptions"></google-map>
        </div>
      </div>
    </div>
  </div>
</div>
