<div class="d-md-none mobile-search" (click)="openSearch()">
  <app-feather-icons [icon]="'search'"></app-feather-icons>
</div>
<div class="form-group search-form" [class.open]="isOpen" (clickOutside)="clickOutside()">
  <input type="text" class="form-control" placeholder="Search here..." [(ngModel)]="text" [ngModelOptions]="{ standalone: true }" (keyup)="searchTerm(text)">
</div>
@if(menuItems.length){
  <div class="Typeahead-menu custom-scrollbar" [class.is-open]="searchResult" id="search-outer">
    @for(menuItem of menuItems | slice : 0 : 8; track menuItem){
      <div class="ProfileCard u-cf">
        <div class="ProfileCard-avatar">
        </div>
        <div class="ProfileCard-details">
          <div class="ProfileCard-realName">
            <app-feather-icons [icon]="menuItem.icon"></app-feather-icons>
            <a [routerLink]="menuItem?.path" class="realname" (click)="removeFix()">{{ menuItem?.title }}</a>
          </div>
        </div>
      </div>
    }
  </div>
}
<div class="Typeahead-menu" [class.is-open]="searchResultEmpty" (clickOutside)="clickOutside()">
  <div class="tt-dataset tt-dataset-0">
    <div class="EmptyMessage" style="color: black;">Oops!! There are no result found.</div>
  </div>
</div>
