<ul class="profile-dropdown onhover-show-div">
  <li>
    <a href="javascript:void(0)" [routerLink]="['/manage-user/user-profile']"><span>Account </span>
      <app-feather-icons [icon]="'user'"></app-feather-icons>
    </a>
  </li>
  <li>
    <a href="javascript:void(0)" [routerLink]="['/property/property-list']"><span>Listing</span>
      <app-feather-icons [icon]="'file-text'"></app-feather-icons>
    </a>
  </li>
  <li>
    <a href="javascript:void(0)" [routerLink]="['/authentication/log-in']"><span>Log in</span>
      <app-feather-icons [icon]="'log-in'"></app-feather-icons>
    </a>
  </li>
</ul>
