<div class="card">
  <div class="card-body">
    <div class="media contact-media">
      <img src="assets/images/avatar/5.jpg" class="img-fluid img-80" alt="">
      <div class="media-body">
        <h4>Good Evening , Zack Lee</h4>
        <span class="light-font">My current address <a href="javascript:void(0)">Mina Road, Dubai, United Arab Emirates</a></span>
        <ul class="agent-social mt-2">
          <li><a href="https://www.facebook.com/" class="facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://twitter.com/" class="twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://account.google.com" class="google" target="_blank"><i class="fab fa-google"></i></a></li>
          <li><a href="https://www.linkedin.com/" class="linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="all-properties mt-3">
      <ul class="light-box user-info-icon">
        <li>
          <div class="media">
            <img src="assets/images/svg/icon/1.svg" class="img-fluid" alt="">
            <div class="media-body">
              <h5>18</h5>
              <span class="light-font">Sold</span>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <img src="assets/images/svg/icon/3.png" class="img-fluid" alt="">
            <div class="media-body">
              <h5>20</h5>
              <span class="light-font">Waiting</span>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <img src="assets/images/svg/icon/2.png" class="img-fluid" alt="">
            <div class="media-body">
              <h5>40</h5>
              <span class="light-font">Rent</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="contact-btn">
      <button type="button" class="btn btn-gradient color-4 btn-pill" [routerLink]="['/manage-user/all-user']">Email</button>
      <button type="button" class="btn btn-dashed color-4 ms-2 btn-pill" [routerLink]="['/manage-user/add-user']">Message</button>
    </div>
  </div>
</div>
