<div class="card timeline-card">
  <div class="card-body">
    <div class="partner-info">
      <div class="title-about">
        <h5>Monthly installment</h5>
      </div>
      <div class="timeline-pay">
        <ul>
          <li class="pay">
            <div>
              <i class="fas fa-check-circle"></i>
              <span>Oct 18</span>
            </div>
          </li>
          <li>
            <div>
              <i class="fas fa-check-circle"></i>
              <span>Sep 25</span>
            </div>
          </li>
          <li>
            <div>
              <i class="fas fa-check-circle"></i>
              <span>Aug 10</span>
            </div>
          </li>
        </ul>
        <div class="timeline-right">
          <h5 class="mb-0">$4.500</h5>
          <a href="javascript:void(0)">
            View Details
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
