<div class="row log-in">
  <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-6 col-sm-8 form-login">
    <div class="card">
      <div class="card-body">
        <div class="title-3 text-start">
          <h2>Sign up</h2>
        </div>
        <app-common-login-form [type]="'sign-up'"></app-common-login-form>
      </div>
    </div>
  </div>
  <div class="col-xxl-7 col-xl-7 offset-xxl-1 col-lg-6 auth-img bg-size-login" [style.background-image]="'url(assets/images/svg/2.svg)'">
    <img src="assets/images/svg/2.svg" class="bg-img" alt="" style="display: none;">
  </div>
</div>
