<div class="card">
  <div class="card-body">
    <div class="title-about">
      <h5>{{ title }}</h5>
    </div>
    <div class="total-container">
      <div id="userchart">
        <apx-chart [series]="chartData.series" [labels]="chartData.labels" [chart]="chartData.chart"
                   [dataLabels]="chartData.dataLabels" [colors]="chartData.colors" [plotOptions]="chartData.plotOptions"
                   [responsive]="chartData.responsive">
        </apx-chart>
      </div>
    </div>
  </div>
</div>
