<div class="logo-wrap">
  <app-logo></app-logo>
</div>
<div class="main-sidebar">
  <div class="user-profile">
    <app-profile></app-profile>
  </div>
  <div id="mainsidebar">
    <ul class="sidebar-menu custom-scrollbar">
      <div *ngTemplateOutlet="recursiveMenu; context: { $implicit: menus }"></div>
      <ng-template #recursiveMenu let-menus>
        @for(item of menus; track item){
          <li [class.sidebar-item]="item.level == 1">
            <a [class.sidebar-link]="item.level == 1" routerLinkActive="active" [ngClass]="{'only-link' : item.type == 'link' && item.level == 1, 'active': item.active}" (click)="toggleMenu(item)" [routerLink]="item.path">
              <app-feather-icons [icon]="item.icon"></app-feather-icons>
              <span>{{ item.title }}</span>
              @if(item.badge){
                <span class="label label-shadow ms-1">{{ item.badgeText }}</span>
              }
              @if(item.type == 'sub' && item.level == 1){
                <div class="according-menu">
                  <i class="fa fa-angle-right"></i>
                </div>
              }
            </a>
            @if(item.children){
              <ul class="nav-submenu menu-content" [ngStyle]="{'display' : item.active ? 'block' : 'none' }">
                <div *ngTemplateOutlet="recursiveMenu; context: { $implicit: item.children }"></div>
              </ul>
            }
          </li>
        }
      </ng-template>
      <li>
        <app-help></app-help>
      </li>
    </ul>
  </div>
</div>
